@import "tailwindcss";
:root {
  --main-color: #ffdf5a;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #27272a;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

@keyframes fadeInAnimation {
  100% {
    opacity: 100%;
  }
}

.fadeIn-content {
  opacity: 0;
  animation: fadeInAnimation 1.5s forwards;
  animation-delay: 0.8s;
}

.fadeIn-content-Min {
  opacity: 0;
  animation: fadeInAnimation 0.5s forwards;
}
.imgHome {
  opacity: 0;
  transform: translateY(50px) scale(0.9);
  animation: fadeInAnimation 1s forwards;
  animation-delay: 1.5s;
  position: relative;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
